/* Header */
header {
    padding: 0px 0px;
    text-align: left;
}

footer {
    text-align: center;
    padding-top: 40px;
}

footer p {
    color: lightgray;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav a {
    margin: 0 8px;
    color: #333333;
    text-decoration: none;
}

/* Nav */
nav a {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 8px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

nav a:first-child {
    margin-left: 0;
}

nav a:not(:last-child) {
    margin-right: 20px;
}

nav a:last-child {
    margin-left: auto;
    background-color: rgb(0, 0, 238);
    color: white;
    font-weight: bold;
}

nav a:last-child:hover {
    background-color: #0056b3;
}

/* Responsive */
@media (max-width: 1024px) {
    .projects-grid {
        grid-template-columns: repeat(2, 1fr); /* 2 cards per row */
    }
}

@media (max-width: 768px) {
    .projects-grid {
        grid-template-columns: 1fr; /* 1 card per row */
    }
}

/* Content */
.content {
    max-width: 75ch;
    margin: 0 auto;
    padding: 0 1rem;
}